.avartar-picker {
	padding-left: 15px;
	margin-top: 20px;
	.inputfile {
	    display: none;
	}
	label {
		display: block;
	    cursor: pointer;
	    display: inline-block;
		color: #333;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 800;
		&:hover {
			color: #666;
		}
		i {
			margin-right: 3px;
		}
	}
}